head {font-family:Verdana; font-size:16px; color:#ffffff;font-weight:bold;}
headBack {font-family:Verdana; font-size:16px; color:#000000;font-weight:bold;}
body {font-family:Verdana; font-size:10px; color:#000000;font-weight:bold;}
bodyBack {font-family:Verdana; font-size:10px; color:#ffffff;font-weight:bold;}
a {color:#bbbbbb; font-family:Verdana; font-size:18px;}